* {
  margin: 0px;
  padding: 0px;
}
/* for mobile phones */

body {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
}

#site-wrapper {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  margin-top: 2vw;
}

h4 {
  font-size: 5vw;
}

main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  margin-top: 10vh;
  height: auto;
  width: 76vw;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

h1 {
  margin-top: 10vh;
  font-weight: bold;
  font-size: 9vw;
  text-align: justify;
  width: fit-content;
}

p {
  margin-top: 10vh;
  font-size: 5vw;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

button {
  margin-top: 10vh;
  font-family: Space Mono;
  color: white;
  background: #333333;
  width: 55vw;
  height: 10vh;
  font-size: 3vw;
}

footer {
  margin-top: 20vh;
  width: auto;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 2vh;
  font-family: 'Montserrat', sans-serif;
  color: #BDBDBD;
}

/* for the rest */
@media only screen and (min-width: 768px) {
  * {
    row-gap: 0px;
  }
  #site-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 86vw;
    height: 75vw;
  }

  header {
    margin-top: 2.8vw;
  }

  h4 {
    font-size: 1.7vw;
    letter-spacing: -0.035em;
  }

  main {
    width: auto;
    margin-top: 13vw;
    display: flex;
    flex-direction: row;
  }

  img {
    margin-top: 0vh;
    height: auto;
    width: 37.5vw;
  }

  #text-wrapper {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 8.2vw;
  }

  h1 {
    margin-top: 0px;
    font-size: 4.4vw;
  }

  p {
    margin-top: 2.5vw;
    font-size: 1.7vw;
    letter-spacing: -0.035em;
  }

  button {
    margin-top: 4.4vw;
    width: 15vw;
    height: 4.7vw;
    font-size: 1vw;
  }

  footer {
    margin-top: 21vw;
    margin-bottom: 1.6vw;
    width: auto;
    text-align: center;
    font-size: 1vw;
  }
}
